* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
.navbar {
  height: 60px;
  background-color: #0d0707;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
nav-logo {
  height: 60px;
  width: 140px;
}
.logo {
  height: 55px;
  width: 130px;
  background-image: url("images/amazon_logo.png");
  background-size: cover;
}
.border {
  border: 1.4px solid transparent;
}
.border:hover {
  border: 1.4px solid white;
  border-radius: 4px;
}
.box1 {
  padding: 12px;
}
.box1-sec1 {
  font-size: 12px;
  color: #cccccc;
  margin-left: 15px;
}
.box1-sec2 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}
.box1-sec2 i {
  margin-right: 1.5px;
}
.box2 {
  display: flex;
  align-items: center;
}
.box2-select select {
  height: 40px;
  font-size: 14px;
  color: #0f1111;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border: none;
}
.box2-input input {
  height: 40px;
  text-align: center;
  width: 30rem;
  border: none;
}
.box2-button button {
  height: 40px;
  width: 45px;
  border: none;
  background-color: #ffb224e8;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.box2-button i {
  font-size: 20px;
}
.box2:hover {
  border: 2px solid #ffb224e8;
  border-radius: 0.45rem;
}
.box3 {
  padding: 09px;
  margin-left: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box3 ul {
  list-style: none;
  background-image: url("images/indian-flag.jpg");
  background-size: cover;
  padding: 14px 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 25px;
  height: 38px;
  width: 17px;
}
.box3-logo {
  position: relative;
  bottom: 17.2px;
  left: 20px;
  /* right: 40px; */
  color: #e9e0e0d8;
  /* color: #e9e0e0; */
}

.box3 li {
  font-size: 14px;
  font-weight: 700;
}
.box4 {
  padding: 12px;
}

.box4-sec1 {
  font-size: 12px;
  /* color: #e9e0e0; */
}
.box4-sec2 {
  font-size: 14px;
  font-weight: 700;
}
.box4-sec2 i {
  opacity: 0.7;
}

.box5 {
  padding: 12px;
}

.box5-sec1 {
  font-size: 12px;
  color: #e9e0e0;
}
.box5-sec2 {
  font-size: 14px;
  font-weight: 700;
}
.box6 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
}
.box6-logo {
  font-size: 30px;
}
.box6-sec2 {
  font-size: 14px;
  font-weight: 700;
}
.quick_access {
  display: flex;
  /* justify-content:spac; */
  align-items: center;
  background-color: #0f1111de;
  height: 45px;
}
.qa-box1 {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 5px 15px 0px 0px;
  margin-right: 15px;
  padding: 10px;
}
.qa-box2 {
  display: flex;
  color: white;
  padding: 10px;
}
.qa-box2 div {
  font-size: 16px;
  margin-right: 20px;
  padding: 3px 1px 0px 0px;
  padding: 10px;
}
.middle {
  height: 72vh;
  width: 98.9vw;
  background-color: rgb(11, 46, 77);
  background-image: url("images/hero_image.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle .center {
  position: relative;
  top: 8.9rem;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5f6f6;
}
.center a {
  color: #007185;
  text-decoration: none;
}
.hero_part {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
}
.hero_part .hp-box {
  width: 350px;
  height: 400px;
  background-color: white;
  font-size: 21px;
  color: #0f1111;
  font-weight: 700;
  padding: 20px;
}
.hp-box-sec1 {
  display: flex;
  align-items: center;
}
.hp-box-sec2 {
  background-size: cover;
  padding: 6px;
  margin: 14px;
  height: 300px;
  background-size: cover;
}
.hp-box-sec3 {
  height: 19px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #007185;
}

.box {
  margin: 10px 7px;
  padding: 0px 2px;
}
@keyframes color_change {
  0% {
    background-color: white;
  }
  100% {
  }
}
.hp-box:hover {
  background-color: #ffb224e8;
  transition: width 2s linear 1s;
  transition: all ease-in-out 0s 0.1s;
  scale: 1.01;
  font-size: 22px;
}

body {
  background-color: #04223dd6;
}

.end-nav {
  height: 40px;
  background-color: #232f3e;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top a {
  text-decoration: none;
  color: white;
}
.end-mid {
  height: 17rem;
  width: 109vh;
  background-color: #394450;
  color: white;
}
.mid-first a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 05px;
  font-size: 14px;
  font-weight: lighter;
}
.mid-first {
  margin: 15px 25px;
  padding: 15px 25px;
  text-align: center;
}
.end-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright-sec {
  background-color: #131a22;
  max-width: 100%;
  margin: 0;
  padding: 10px 30px;
  color: white;
}
.c-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #dddddd;
}
.cp-sec4-logo {
  font-size: 23px;
  margin: 2px 4px;
}
.c-top div {
  margin: 2px 12px;
}
.c-bottom {
  font-size: 12px;
  display: flex;
  color: #dddddd;
  align-items: center;
  justify-content: center;
}
